@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: aqua;
    font-family: 'Quicksand', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 40px 60px;
    border-radius: 10px;
    width: min-content;
    background: #F8F8F8;
    border: solid #BDBDBD 1px;
    box-shadow: 5px 11px 47px rgba(0, 0, 0, 0.4);
}
h1{
    text-align: center;
    
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    outline: none;
    border: 1px solid #cec8c8;
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
}
.btn{
    margin: 5px auto;
    text-align: center;
}
button{
    background-color: #3c3cb9;
    padding: 10px 25px;
    color: #fff;
    border: none;
    border-radius: 20px;
}